body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #2c3e50, #4ca1af); */
    font-family: 'Roboto', sans-serif;
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .profile-pic {
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #4ca1af;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .upload-label:hover {
    background: #3b8d99;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  
  .upload-icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-btn {
    background: #4ca1af;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
  }
  
  .upload-btn:hover {
    background: #3b8d99;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  